# Experiment #1

## Import packages

In [120]:
import pandas as pd
import numpy as np

## Series and DataFrames

### Creating Pandas Series

#### Example 1

In [71]:
a=[1,2,3,4,5]

my_series = pd.Series(a)
print(my_series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### Example 2

In [72]:
calories = {"day1": 420, "day2": 380, "day3": 390}

#create a series
my_series = pd.Series(calories)

print(my_series)

day1    420
day2    380
day3    390
dtype: int64

### Creating Pandas DataFrame

#### Example 3

In [73]:
d = pd.Series([1,2,3,4,5])

df = pd.DataFrame(d)

print(df)

   0
0  1
1  2
2  3
3  4
4  5

#### Example 4

In [74]:
data = {'Name': ["Ahmad", "Ali", "Nora", "Sara"],
        'Age': [22, 25, 24, 28]
        }

df = pd.DataFrame(data)

print(df)

    Name  Age
0  Ahmad   22
1    Ali   25
2   Nora   24
3   Sara   28

#### Example 5

In [75]:
data = {
        "calories": [420, 380, 390],
        "duration": [50, 40, 45]
        }

df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

#### Example 6

In [76]:
df = pd.read_csv('Lunch.csv')
print(df)

    Waiter  total_bill   tip smoker   day   time  size
0       10       27.20  4.00     No  Thur  Lunch     4
1       10       22.76  3.00     No  Thur  Lunch     2
2       11       17.29  2.71     No  Thur  Lunch     2
3       11       19.44  3.00    Yes  Thur  Lunch     2
4       33       16.66  3.40     No  Thur  Lunch     2
5       33       10.07  1.83     No  Thur  Lunch     1
6       30       32.68  5.00    Yes  Thur  Lunch     2
7       30       15.98  2.03     No  Thur  Lunch     2
8       12       34.83  5.17     No  Thur  Lunch     4
9       10       13.03  2.00     No  Thur  Lunch     2
10      11       18.28  4.00     No  Thur  Lunch     2
11      12       24.71  5.85     No  Thur  Lunch     2
12      33       21.16  3.00     No  Thur  Lunch     2

## Exploring DataFrames

#### Example 7

In [77]:
df = pd.read_csv('Dinner.csv')

print(df.head(3))

   Waiter  total_bill   tip smoker  day    time  size
0      10       16.99  1.01     No  Sun  Dinner     2
1      10       10.34  1.66     No  Sun  Dinner     3
2      11       21.01  3.50     No  Sun  Dinner     3

#### Example 8

In [78]:
df = pd.read_csv('Waiters.csv')

print(df.tail(3))

   Waiter       type
3      30  full time
4      12  part time
5      20  part time

#### Example 9

In [79]:
df = pd.read_csv('Lunch.csv')

print(df.shape)

#(rows, columns)

(13, 7)

#### Example 10

In [80]:
df = pd.read_csv('Lunch.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Waiter      13 non-null     int64
 1   total_bill  13 non-null     float64
 2   tip         13 non-null     float64
 3   smoker      13 non-null     object
 4   day         13 non-null     object
 5   time        13 non-null     object
 6   size        13 non-null     int64
dtypes: float64(2), int64(2), object(3)
memory usage: 860.0+ bytes
None

## DataFrames Indexing

In [81]:
df = pd.DataFrame(
                    {
                        'col_1': list(range(1, 11)), 
                        'col_2': list(range(11, 21)), 
                        'col_3': list(range(21, 31)), 
                        'col_4': list(range(31, 41)), 
                        'col_5': list(range(41, 51)), 
                        'col_6': list(range(51, 61)), 
                        'col_7': list(range(61, 71)), 
                        'col_8': list(range(71, 81)), 
                        'col_9': list(range(81, 91))
                    }
                )
print(df)

   col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
0      1     11     21     31     41     51     61     71     81
1      2     12     22     32     42     52     62     72     82
2      3     13     23     33     43     53     63     73     83
3      4     14     24     34     44     54     64     74     84
4      5     15     25     35     45     55     65     75     85
5      6     16     26     36     46     56     66     76     86
6      7     17     27     37     47     57     67     77     87
7      8     18     28     38     48     58     68     78     88
8      9     19     29     39     49     59     69     79     89
9     10     20     30     40     50     60     70     80     90

### Label-based Dataframe Indexing

In [82]:
print(df.columns)
print("------------------")
print(df.index)

Index(['col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6', 'col_7', 'col_8',
       'col_9'],
      dtype='object')
------------------
RangeIndex(start=0, stop=10, step=1)

#### Example 11

In [83]:
print(df['col_2'])
print("------------------")
print(df[['col_5', 'col_1', 'col_8']])
print("------------------")
print(df[['col_5', 'col_1', 'col_8', 'col_100']])

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
9    20
Name: col_2, dtype: int64
------------------
   col_5  col_1  col_8
0     41      1     71
1     42      2     72
2     43      3     73
3     44      4     74
4     45      5     75
5     46      6     76
6     47      7     77
7     48      8     78
8     49      9     79
9     50     10     80
------------------

KeyError: "['col_100'] not in index"

#### Example  12

In [ ]:
print(df.loc[0])

col_1     1
col_2    11
col_3    21
col_4    31
col_5    41
col_6    51
col_7    61
col_8    71
col_9    81
Name: 0, dtype: int64

Rename Index (row name)

In [ ]:
df.index = ['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6',
'row_7', 'row_8', 'row_9', 'row_10']

In [ ]:
print(df.loc[['row_6', 'row_2', 'row_9']])
print("------------------")
print(df.loc[['row_6', 'row_2', 'row_9', 'row_100']])
print("------------------")
print(df.loc['row_7':'row_9'])

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_6      6     16     26     36     46     56     66     76     86
row_2      2     12     22     32     42     52     62     72     82
row_9      9     19     29     39     49     59     69     79     89
------------------

KeyError: "['row_100'] not in index"

#### Task 1: Print the first 4 rows using the slicing method.

In [ ]:
print(df.loc['row_1':'row_4'])

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_1      1     11     21     31     41     51     61     71     81
row_2      2     12     22     32     42     52     62     72     82
row_3      3     13     23     33     43     53     63     73     83
row_4      4     14     24     34     44     54     64     74     84

#### Task 2: Print the last row with columns from col_5 to col_7.

In [ ]:

print(df.loc['row_10', 'col_5':'col_7'])

col_5    50
col_6    60
col_7    70
Name: row_10, dtype: int64

In [ ]:
df.at['row_6', 'col_3']

26

### Position-based Dataframe Indexing

In [ ]:
print(df[3:6])
print("------------------")
print(df.iloc[3])
print("------------------")
print(df.iloc[[9, 8, 7]])
print("------------------")
print(df.iloc[0, [2, 8, 3]])
print("------------------")
print(df.iat[1, 2])

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_4      4     14     24     34     44     54     64     74     84
row_5      5     15     25     35     45     55     65     75     85
row_6      6     16     26     36     46     56     66     76     86
------------------
col_1     4
col_2    14
col_3    24
col_4    34
col_5    44
col_6    54
col_7    64
col_8    74
col_9    84
Name: row_4, dtype: int64
------------------
        col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_10     10     20     30     40     50     60     70     80     90
row_9       9     19     29     39     49     59     69     79     89
row_8       8     18     28     38     48     58     68     78     88
------------------
col_3    21
col_9    81
col_4    31
Name: row_1, dtype: int64
------------------
22

#### Task 3: Use iloc with position-based indexing to select rows 8, and 1 and columns 5 to 9.

In [ ]:

print(df.iloc[[8,1],5:9])

       col_6  col_7  col_8  col_9
row_9     59     69     79     89
row_2     52     62     72     82

#### Task 4: Use iloc with position-based indexing to select all rows and columns 1, 3, and 7.

In [ ]:
print(df.iloc[:, [1, 3, 7]])

        col_2  col_4  col_8
row_1      11     31     71
row_2      12     32     72
row_3      13     33     73
row_4      14     34     74
row_5      15     35     75
row_6      16     36     76
row_7      17     37     77
row_8      18     38     78
row_9      19     39     79
row_10     20     40     80

### Boolean Dataframe Indexing

#### Task 5: Selecting all the rows of the dataframe where the value of col_2 is NOT greater than 15

In [86]:
condition = df['col_2'] <= 15

print(df[condition])

   col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
0      1     11     21     31     41     51     61     71     81
1      2     12     22     32     42     52     62     72     82
2      3     13     23     33     43     53     63     73     83
3      4     14     24     34     44     54     64     74     84
4      5     15     25     35     45     55     65     75     85

Task 6: Selecting all the rows of the dataframe where the value of col_2 is greater than
15 but not equal to 19

In [ ]:
condition1 = df['col_2'] > 15 
condition2 = df['col_2'] != 19
condition = condition1 & condition2
print(df[condition])

        col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_6       6     16     26     36     46     56     66     76     86
row_7       7     17     27     37     47     57     67     77     87
row_8       8     18     28     38     48     58     68     78     88
row_10     10     20     30     40     50     60     70     80     90

### Saving Dataframe to CSV file

#### Example 13

In [87]:
# Create a sample dataframe
Biodata = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
'Age': [28, 23, 35, 31],
'Gender': ['M', 'F', 'M', 'F']
}
df = pd.DataFrame(Biodata)
# Save the dataframe to a CSV file
df.to_csv('Biodata.csv', index=False)

#### Task 7: Save the above dataframe using tab-separated values

In [89]:
# Create a sample dataframe
Biodata = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
'Age': [28, 23, 35, 31],
'Gender': ['M', 'F', 'M', 'F']
}
df = pd.DataFrame(Biodata)
# Save the dataframe to a CSV file
df.to_csv('Biodata.csv', sep="\t" , index=False)

## Dealing with Rows and Columns in Panda's DataFrame

### Column Addition:

#### Example 14

In [92]:
import pandas as pd
# Define a dictionary containing Students data
data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
'Height': [5.1, 6.2, 5.1, 5.2],
'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)
print("-------------------------------")
# Declare a list that is to be converted into a column
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna']
# Using 'Address' as the column name and equating it to the list
df['Address'] = address
# Observe the result
print(df)

     Name  Height Qualification
0   Ahmad     5.1           Msc
1     Ali     6.2            MA
2    Omar     5.1           Msc
3  Hamzah     5.2           Msc
-------------------------------
     Name  Height Qualification    Address
0   Ahmad     5.1           Msc      Delhi
1     Ali     6.2            MA  Bangalore
2    Omar     5.1           Msc    Chennai
3  Hamzah     5.2           Msc      Patna

#### Task 8: Add a new column (on the dataframe above) named Age with the following values [21, 23, 24, 21] and make it the third column.

In [94]:
df.insert(column="Age", value=[21, 23, 24, 21], loc=2)

print(df)

     Name  Height  Age Qualification    Address
0   Ahmad     5.1   21           Msc      Delhi
1     Ali     6.2   23            MA  Bangalore
2    Omar     5.1   24           Msc    Chennai
3  Hamzah     5.2   21           Msc      Patna

### Column Deletion

#### Example 15

In [97]:
import pandas as pd
# Define a dictionary containing Students data
data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
    'Height': [5.1, 6.2, 5.1, 5.2],
    'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
    'Age': [21, 23, 24, 21]
    }
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)
print("===============================")
# dropping passed columns
df1 = df.drop(["Height"], axis = 1)
# Observe the result
print(df)
print("-------------------------------")
print(df1)

     Name  Height Qualification  Age
0   Ahmad     5.1           Msc   21
1     Ali     6.2            MA   23
2    Omar     5.1           Msc   24
3  Hamzah     5.2           Msc   21
===============================
     Name  Height Qualification  Age
0   Ahmad     5.1           Msc   21
1     Ali     6.2            MA   23
2    Omar     5.1           Msc   24
3  Hamzah     5.2           Msc   21
-------------------------------
     Name Qualification  Age
0   Ahmad           Msc   21
1     Ali            MA   23
2    Omar           Msc   24
3  Hamzah           Msc   21

#### Task 9: Remove column Height and column Age from the existing referring dataframe.

In [98]:
df.drop(["Height", "Age"], axis = 1, inplace = True)
print(df)

     Name Qualification
0   Ahmad           Msc
1     Ali            MA
2    Omar           Msc
3  Hamzah           Msc

### Adding new row to DataFrame

#### Example 14

In [118]:
technologies= {
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
    'Fee' :[22000,25000,23000,24000,26000],
    'Duration':['30days','50days','35days', '40days','55days'],
    'Discount':[1000,2300,1000,1200,2500]
}
df = pd.DataFrame(technologies)
print(df)
print("-------------------------------")
# New list to append Row to DataFrame
list = ["Hyperion", 27000, "60days", 2000]
df.loc[len(df)] = list
print(df)

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   35days      1000
3   Python  24000   40days      1200
4   Pandas  26000   55days      2500
-------------------------------
    Courses    Fee Duration  Discount
0     Spark  22000   30days      1000
1   PySpark  25000   50days      2300
2    Hadoop  23000   35days      1000
3    Python  24000   40days      1200
4    Pandas  26000   55days      2500
5  Hyperion  27000   60days      2000

#### Task 10: use .iloc to insert the new row above into the second position of the DataFrame.

In [119]:
print(df)
print("-------------------------------")
df1 = df[:1]

df2 = df[1:]

list = ["Hyperion", 27000, "60days", 2000]

df1.loc[len(df1)] = list

df = pd.concat([df1, df2] , ignore_index=True)

print(df)

    Courses    Fee Duration  Discount
0     Spark  22000   30days      1000
1   PySpark  25000   50days      2300
2    Hadoop  23000   35days      1000
3    Python  24000   40days      1200
4    Pandas  26000   55days      2500
5  Hyperion  27000   60days      2000
-------------------------------
    Courses    Fee Duration  Discount
0     Spark  22000   30days      1000
1  Hyperion  27000   60days      2000
2   PySpark  25000   50days      2300
3    Hadoop  23000   35days      1000
4    Python  24000   40days      1200
5    Pandas  26000   55days      2500
6  Hyperion  27000   60days      2000

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_1800\2646350135.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.loc[len(df1)] = list

### Deleting row From DataFrame

In [121]:
technologies = {
'Courses':["Spark","PySpark","Hadoop","Python"],
'Fee' :[20000,25000,26000,22000],
'Duration':['30day','40days',np.nan, None],
'Discount':[1000,2300,1500,1200]
}
indexes=['r1','r2','r3','r4']
df = pd.DataFrame(technologies,index=indexes)
print(df)

    Courses    Fee Duration  Discount
r1    Spark  20000    30day      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000      NaN      1500
r4   Python  22000     None      1200

#### Example 16

In [124]:
# Drop rows by Index Label
df1 = df.drop(['r1','r2'])
print(df1)
print("-------------------------------")
df1 = df.drop(index=['r1','r2'])
print(df1)

   Courses    Fee Duration  Discount
r3  Hadoop  26000      NaN      1500
r4  Python  22000     None      1200
-------------------------------
   Courses    Fee Duration  Discount
r3  Hadoop  26000      NaN      1500
r4  Python  22000     None      1200

#### Example 17

In [125]:
# Delete Rows 1 and 3 by Index numbers
df1=df.drop(df.index[[1,3]])
print(df1)

print("-------------------------------")

# Removes First Row
df1=df.drop(df.index[0])
print(df1)
print("-------------------------------")

# Removes Last Row
df1=df.drop(df.index[-1])
print(df1)
print("-------------------------------")
# Delete Rows by Index Range
df1=df.drop(df.index[2:])
print(df1)

   Courses    Fee Duration  Discount
r1   Spark  20000    30day      1000
r3  Hadoop  26000      NaN      1500
-------------------------------
    Courses    Fee Duration  Discount
r2  PySpark  25000   40days      2300
r3   Hadoop  26000      NaN      1500
r4   Python  22000     None      1200
-------------------------------
    Courses    Fee Duration  Discount
r1    Spark  20000    30day      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000      NaN      1500
-------------------------------
    Courses    Fee Duration  Discount
r1    Spark  20000    30day      1000
r2  PySpark  25000   40days      2300

#### Example 18

In [127]:
# Remove rows when you have a default index.
df = pd.DataFrame(technologies)
print(df)
print("-------------------------------")
df1 = df.drop(0)
print(df1)
print("-------------------------------")
df3 = df.drop([0, 3])
print(df3)
print("-------------------------------")
df4 = df.drop(range(0,2))
print(df4)
print("-------------------------------")

   Courses    Fee Duration  Discount
0    Spark  20000    30day      1000
1  PySpark  25000   40days      2300
2   Hadoop  26000      NaN      1500
3   Python  22000     None      1200
-------------------------------
   Courses    Fee Duration  Discount
1  PySpark  25000   40days      2300
2   Hadoop  26000      NaN      1500
3   Python  22000     None      1200
-------------------------------
   Courses    Fee Duration  Discount
1  PySpark  25000   40days      2300
2   Hadoop  26000      NaN      1500
-------------------------------
  Courses    Fee Duration  Discount
2  Hadoop  26000      NaN      1500
3  Python  22000     None      1200
-------------------------------

#### Example 19